.activity-chart {
    position: relative;
    grid-area: A;
    background: #fbfbfb;
    padding: 24px 30px;
    width: 785px;
    height: 300px;

    h4 {
        position: absolute;
        top: 0px;
        left: 32px;
    }

    .custom-tooltip {
        width: 39px;
        height: 45px;
        text-align: center;
        background: #e60000;
        color: #fff;
        padding: 4px;
        font-size: 10px;

        div {
            margin-top: 7px;
            margin-bottom: 7px;
        }
    }

    .legend-ul {
        display: flex;
        position: absolute;
        right: 0;
        gap: 52px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1330px) {
        width: 600px;
        height: 250px;
    }
}
