.activity-chart {
    position: relative;
    grid-area: A;
    background: #fbfbfb;
    padding: 24px 30px;

    h4 {
        position: absolute;
        top: 0px;
        left: 32px;
    }

    .custom-tooltip {
        width: 39px;
        height: 45px;
        text-align: center;
        background: #e60000;
        color: #fff;
        padding: 4px;
        font-size: 8px;

        div {
            margin-top: 7px;
            margin-bottom: 7px;
        }
    }

    .legend-ul {
        display: flex;
        position: absolute;
        right: 0;
        gap: 52px;
    }
}

.average-sessions-chart {
    background: #ff0000;
    width: 258px;
    height: 263px;
    grid-area: B;
    border-radius: 5px;

    h4 {
        font-size: 15px;
        width: 147px;
        color: #fff;
        opacity: 50.4%;
        padding: 0px 77px 0px 34px;
    }

    .custom-tooltip {
        background: #fff;
        padding: 1px 4px;
        font-size: 8px;
    }
}
